<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--TBD value needs to be updated-->
    <add key="GpgBinaryPath" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe" />
    <!--TBD value needs to be updated-->
    <add key="GpgRecipient" value="jml.team@tesco.com" />
    <!--TBD value needs to be updated-->
    <add key="GpgPassphrase" value="Hyundiscover@123" />
    <!--TBD value needs to be added-->
    <add key="GpgHomeDirectory" value="C:\Users\A-GNC8\AppData\Roaming\gnupg" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>